POSTGRES_PORT=5432
POSTGRES_APP_USER=incidents_app
POSTGRES_APP_PASSWORD=change-me-app-password
KEYCLOAK_DB_NAME=keycloak_db
USER_DB_NAME=user_db
INCIDENT_DB_NAME=incident_db
COMMENT_DB_NAME=comment_db
NOTIFICATION_DB_NAME=notification_db
CHAT_DB_NAME=chat_db
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-admin-password
KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/incidents-realm
KEYCLOAK_JWK_SET_URI=http://localhost:8180/realms/incidents-realm/protocol/openid-connect/certs
KEYCLOAK_GATEWAY_CLIENT_SECRET=change-me-gateway-client-secret
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me-minio-password
MINIO_PUBLIC_URL=http://localhost:9000
CONFIG_SERVER_PORT=8888
CONFIG_SERVER_URL=http://localhost:8888
CONFIG_REPO_URI=file:/config-repo
CONFIG_REPO_LABEL=main
EUREKA_PORT=8761
EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka/
GATEWAY_PORT=8080
USER_SERVICE_PORT=8081
INCIDENT_SERVICE_PORT=8082
COMMENT_SERVICE_PORT=8083
CHAT_SERVICE_PORT=8084
NOTIFICATION_SERVICE_PORT=8085
INCIDENT_API_URL=http://localhost:8080
OLLAMA_BASE_URL=http://localhost:11434
CHAT_WEBSOCKET_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
GATEWAY_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
REACT_APP_KEYCLOAK_URL=http://localhost:8180
REACT_APP_KEYCLOAK_REALM=incidents-realm
REACT_APP_KEYCLOAK_CLIENT_ID=react-client
